{% extends "layout.html" %}
{% block content %}
    <script type="text/javascript">
        $(function() {
            $(".saveOrRemoveJobBtn").click(function() {
                var btn = $(this);
                var sendData = {"isSave": btn.children().hasClass('far'), "job_id": btn.val()};
                $.ajax({
                    type: "POST",
                    url: "/doSaveOrRemoveJob",
                    data: JSON.stringify(sendData),
                    contentType: "application/json",
                    dataType: 'json',
                    success: function(result) {
                        if(result.isSaved){
                            btn.html('<i class="fas fa-bookmark saveJobIcon"></i> Remove this job from saved list');
                        }else{
                            btn.html('<i class="far fa-bookmark saveJobIcon"></i> Save this job');
                        }
                    } 
                })
            });
        });
    </script>
    {% if session.get('login_type') == 'Manager' %}
        <div class="container">
            <div class="row">
                <div class="col-10">
                    {% if jobs == None %}
                        <article class="media content-section">
                            <div class="media-body">
                                <h2>You have not posted any jobs!</h2>
                            </div>
                        </article>
                    {% else %}
                        {% for job in jobs %}
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 card-container">
                                    <div class="card-flip">
                                        <div class="card front contents">
                                            <p class="card-content" style="text-align:left; font-size:30px; margin-top:10px;">{{ job.job_title }}</a>
                                                <span class="card-content text-muted" style="float:right; font-size: 12px; margin-right:5px;">{{ job.time_posted }}</span>
                                            </p>
                                            <hr>
                                            <p class="card-content">{{ job.job_description }}</p>
                                            <p class="card-content"><b>Location:</b> {{ job.job_location }}</p>
                                            <p class="card-content"><b>Designation:</b> {{ job.designation }}</p>
                                            <p class="card-content"><b>Type:</b> {{ job.job_type }}</p>
                                            <p class="card-content"><b>Industry:</b> {{ job.industry }}</p>
                                        </div>
                                        <div class="card back">
                                            <p class="card-content" style="text-align:left; font-size:30px; margin-top:10px;">{{ job.job_title }}</a>
                                                <span class="card-content text-muted" style="float:right; font-size: 12px; margin-right:5px;">{{ job.time_posted }}</span>
                                            </p>
                                            <hr>
                                            <p class="card-content"><b>Skills Required:</b> {{job.skills }}</p>
                                            <p class="card-content"><b>Schedule: </b> {{ job.schedule }} hours</p>
                                            <p class="card-content"><b>Salary: </b> {{ job.salary }}</p>
                                            <p class="card-content"><b>Rewards: </b> {{ job.rewards }}</p>
                                            <button type="button " class="btn btn-outline-dark" style="max-width:100px; margin:5px;"><a style="color:inherit" href="{{url_for('jobDetails',job_id=job._id)}}">View Job</a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-2">
                    <div class="vl"></div>
                    <ul class="side-bar">
                        <li class="side-bar-li"><a class="side-bar-link" href = "{{ url_for('posting') }}">Create new Job</a></li>
                        <li class="side-bar-li"><a class="side-bar-link" href = "{{ url_for('dummy') }}">Job Status</a></li>
                        <li class="side-bar-li"><a class="side-bar-link" href = "{{ url_for('updateProfile') }}">Update Profile</a></li>
                    </ul>
                </div>
            </div>
        </div>

    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-10">
                    {% if jobs == None %}
                        <article class="media content-section">
                            <div class="media-body">
                                <h2><a class="article-title" href="#">There are no jobs Available!</a></h2>
                            </div>
                        </article>
                    {% else %}
                        <h3>Jobs Available</h3><br>
                        <form method="GET" action="">
                            <l>Search With Key Word:</l>
                            <l><input type="text" class="btn btn-outline-info" name="keyword"><br><l>
                            <p></p>
                            <l><label for="location">Job Location</label>
                                <select name="location" class="btn btn-outline-info" id="location">
                                    <option value="all">ALL</option>
                                    <option value="Raleigh">Raleigh</option>
                                    <option value="San Jose">San Jose</option>
                                    <option value="New York">New York</option>
                                    <option value="others">Others</option>
                                </select><br>
                            </l>
                            <p></p>
                            <l>
                                <label for="type">Job Type</label>
                                <select name="type" class="btn btn-outline-info" id="type">
                                <option value="all">ALL</option>
                                <option value="Full Time">Full Time</option>
                                <option value="Part Time">Part Time</option>
                                <option value="Internship">Internship</option>
                                <option value="others">Others</option>
                                </select><br>
                            </l>
                            <p></p>
                            <l><label for="industry">Job Industry</label>
                                <select name="industry" class="btn btn-outline-info" id="industry">
                                    <option value="all">ALL</option>
                                    <option value="Information Technology">Information Technology</option>
                                    <option value="Accounting">Accounting</option>
                                    <option value="Business">Business</option>
                                    <option value="others">Others</option>
                                </select><br>
                            </l>
                            <p></p>
                            <l><input type="submit" class="btn btn-outline-info" value="search"></l>
                        </form>
                       
                        {% for job in jobs %}
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 card-container">
                                        <div class="card-flip">
                                            <div class="card front contents">
                                                <p class="card-content" style="text-align:left; font-size:30px; margin-top:10px;">{{ job.job_title }}</a>
                                                <span class="card-content text-muted" style="float:right; font-size: 12px; margin-right:5px;">{{ job.time_posted }}</span>
                                                </p>
                                                <hr>
                                                <p class="card-content">{{ job.job_description }}</p>
                                                <p class="card-content"><b>Location:</b> {{ job.job_location }}</p>
                                                <p class="card-content"><b>Designation:</b> {{ job.designation }}</p>
                                                <p class="card-content"><b>Type:</b> {{ job.job_type }}</p>
                                                <p class="card-content"><b>Industry:</b> {{ job.industry }}</p>
                                            </div>
                                            <div class="card back">
                                                <p class="card-content" style="text-align:left; font-size:30px; margin-top:10px;">{{ job.job_title }}</a>
                                                <span class="card-content text-muted" style="float:right; font-size: 12px; margin-right:5px;">{{ job.time_posted }}</span>
                                            </p>
                                            <hr>
                                            <p class="card-content"><b>Skills Required:</b> {{job.skills }}</p>
                                            <p class="card-content"><b>Schedule: </b> {{ job.schedule }} hours</p>
                                            <p class="card-content"><b>Salary: </b> {{ job.salary }}</p>
                                            <p class="card-content"><b>Rewards: </b> {{ job.rewards }}</p>
                                            <p class="card-content"><b>Rewards: </b> {{ job.haveSaved }}</p>
                                            {% if job.haveApplied %}
                                                <p class ="card-content" style="color:green">You already applied!</p>
                                            {% else %}
                                                <button class="btn btn-outline-dark" type="button" style="max-width: 350px; margin:10px;"><a style="color:inherit;" href="{{url_for('jobDetails',job_id = job._id)}}">Apply for this position</a></button>
                                            {% endif %}
                                            <button class="btn btn-light saveOrRemoveJobBtn" type="button" style="max-width: 350px; margin:10px;" value="{{job._id}}">
                                            {% if job.haveSaved %}
                                                <i class="fas fa-bookmark saveJobIcon"></i> Remove this job from saved list
                                            {% else %}
                                                <i class="far fa-bookmark saveJobIcon"></i> Save this job
                                            {% endif %}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-2">
                    <div class="vl"></div>
                    <ul class="side-bar">
                        <li class="side-bar-li"><a class="side-bar-link" href = "{{ url_for('jobsSaved') }}">Saved Jobs</a></li>
                        <li class="side-bar-li"><a class="side-bar-link" href = "{{ url_for('jobsApplied') }}">Status</a></li>
                        <li class="side-bar-li"><a class="side-bar-link" href = "{{ url_for('dummy') }}">Guidelines</a></li>
                        <li class="side-bar-li"><a class="side-bar-link" href = "{{ url_for('updateProfile') }}">Update Profile</a></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}

